#container {
  background: #008E8E;
  padding: 10px;
  clear: both
}

.stone {
  margin: 10px;
  float: left;
  width: 280px;
}

.stone img {
  max-width: 280px;
}

.square {
  margin: 10px;
  float: left;
}